@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color:#252B42;
}

h2{
  color: white;
  float: left; 
  margin-left: 180px;
}

.JoinUs{
  color: #0583F2;
  float:left;
  margin-left: -950px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 90px;
}
.aumentar-fonte{
  font-size: 45px;
  color: white;
  margin-top: 150px; 
  float: left;
  margin-left: -950px;
  
}

nav{
  color: white;
  text-align: left;
  margin-left: 400px;
  padding: 5px;
}

nav a {
  color: white;
  text-decoration-line: none;
  padding: 12px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  background-color: black;
  border-radius: 100px;
}

.destaques{
  text-align: left;
  float: left;
  margin-left: 540px;
  margin-top: -60px;
  padding: 5px;
  
  color: white;
  text-decoration-line: none;
  padding: 13px 15px;
  
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: #23A6F0;
  border-radius: 5px;
}
.destaques:hover {
  background-color:black;
}
.gif{
  margin-left: -2px;
  width: 15px;

}