@charset "UtF-8";

*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

body{
  background-image: linear-gradient(to right, #D53469 ,#D53A67, #D65163,#D8755C, #D7715D,#DAAD52 );
}

.conteudo-cabecalho{
  min-width: 400px;
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
 }

.conteudo-titulo-icon{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.conteudo-icon{
  width: 20px;
  align-items: center;
}

.cabecalho-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}

.cabecalho-menu-item{
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.cabecalho-menu-item:hover{
  text-decoration:underline;
  color: white;
}

hr{
  color: black;
  background-color: black;
}
 

.conteudo-main{
  height: 70vh;
  align-content: center;
}

.conteudo{
  align-items: center;
  justify-content: center;
  min-width: 400px;
  max-width: 1120px;
  height: 70%;
  padding-left: 10rem;
  margin: auto;
  border-radius: 20px;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
 }

.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.conteudo-titulo{
  color: #C0C0C0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.conteudo-titulo-principal{
  color: white;
  font-size: 40px;
}

.conteudo-subtitulo{
  font-size: 18px;
  color: #C0C0C0;
 
}
.imagem-principal{
  height: 350px;
  margin-top: 20px;
}

.conteudo-button{
  margin-left: 3rem;
  
}

.button{
  background-color: white;
  width: 170px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  font-size:  20px;
  color: black;
}

.button:hover{
  background-color: rgb(215, 208, 208)
}

.rodape{
  margin-top: -9rem;
  width: 100%;
  height: 100%;

}

/* Versão Mobile */
@media screen and (max-width: 900px) {
  
  .cabecalho-menu-item{
    font-size: 12px;
  }

  .conteudo{
    min-width: 300px;
    max-width: 400px;
    margin-top: 5rem;
    padding-left: 2.5rem;
  }

  .conteudo-titulo{
    color: #C0C0C0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .conteudo-titulo-principal{
    color: white;
    font-size: 18px;
  }
  
  .imagem-principal{
    height: 170px;
  }
  
  .conteudo-subtitulo{
    font-size: 14px;
  }

  .conteudo-button{
    padding-top: 2rem;
    margin-left: 0rem;
    
  }
  
  .button{
    width: 130px;
    height: 50px;
  }
  
}

@media screen and (max-width: 360px) {
  
  .conteudo-cabecalho{
    justify-content: flex-start;
    gap: 1rem;
    padding: 15px;
  }

  .conteudo-titulo-icon{
    font-size: 14px;
  }
  
  .cabecalho-menu-item{
    font-size: 10px;
  }

  .conteudo{
    min-width: 300px;
    max-width: 400px;
    margin-top: 2rem;
    padding-left: 0.5rem;
  }

  .conteudo-titulo{
    color: #C0C0C0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .conteudo-titulo-principal{
    color: white;
    font-size: 14px;
  }
  
  .imagem-principal{
    height: 130px;
  }
  
  .conteudo-subtitulo{
    font-size: 14px;
  }

  .conteudo-button{
    padding-top: 2rem;
    margin-left: 0rem;
    
  }
  
  .button{
    width: 120px;
    height: 40px;
  }
  
}

