@charset "UtF-8";

*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-image: linear-gradient(to right, #D53469 ,#D53A67, #D65163,#D8755C, #D7715D,#DAAD52 );
  
}
nav {
  color: #fff;
  text-align: right;
  margin-right: 100px;
  padding: 35px;
  
}
nav a {
  color: #0f0f0fe0;
  text-decoration: none;
  padding: 20px 30px;
  
}
nav a:hover {
  background-color: white;
  border-radius: 100px;
  
}
h1{
  color: white;
  float: left; 
  margin-left: 100px;
  padding: 20px;
}
j1{
  color: white;
  float: left; 
  margin-left: -55px;
  margin-top: 2px;
  font-size: 35px;
  padding: 40px;
}
h2{
  color: #C0C0C0;
  float: left; 
  margin-left: 100px;
  padding: 20px;
}

.aumentar-fonte{
  font-size: 70px;
  color: white;
  float: right; 
  margin-right: 1280px;
}
.imagem-lado{
  float: right;
 
  
}

.container{
  position: absolute;
  height: 200px;
  width: 200px;
  top: 260px;
  left: 1200px;
}




