@charset "UtF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(to right, #D84B6E, #D76160,#D8755C,#DAA952 );
}
h1{
  color: white;
}

h2{
  color: black;
  text-align: right;
}