@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1F1517;
  color: #ffff;
}

html{
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.cabelhaco-principal{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cabelhaco-principal-logo{
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cabelhaco-principal-menu{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: #fff2e780;
}
.cabelhaco-principal-github{
  color: #fff2e7;
  font-weight: 600;

}

.conteudo-principal-main{
  display: flex;
  flex-direction: column;
}

.cabelhaco-principal{
  
}