@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  #ecf0f1;;
}

.content{
  background-color: white;
  border-radius: 15px;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before{
  content: "";
  position: absolute;
  background-color: #58af9b;
  width: 40%;
  height: 100%;
}

.conteudo-principal{
  display: flex;
}

.conteudo-titulo{
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.titulo-primario{
  color: #ffffff;
}

.titulo-secundario{
  color: #58af9b;
}

.conteudo-subtitulo{
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.descricao-primaria{
  color: #ffffff;
} 

.descricao-secundaria{
  color: #7f8c8d;
}

.conteudo-button{
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 50px;
  color:#ffffff;
  cursor: pointer;
}

.button-primario{
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color .5s;
}

.button-primario:hover{
  background-color: #ffffff;
  color: #58af9b;;
}

.conteudo-coluna-principal{
  text-align: center;
  flex: 1 0 auto;
  z-index: 10;
}

.conteudo-coluna-secundario{
  flex: 2 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-midia-social{
  display: flex;
  list-style-type: none;
}

.item-midia-social{
  border: 1px solid  #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.item-midia-social a{
  color: #95a5a6;
}

.conteudo-princial-form{
  display: flex;
  flex-direction: column;
}
.conteudo-princial-secundario{
  position: absolute;
  display: none;
}