*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway Regular', sans-serif;
}

a{
  text-decoration: none;
  color: #F7B176
}

.conteudo-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d3250;
}

.conteudo{
  display: flex;
  background-color: #424769;
  border-radius: 15px;
  width: 700px;
  height: 70%;
 
}

.teste{
  background-color: aqua;
  overflow:clip;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.conteudo-cabecalho{
  background-color: aliceblue;
}

.conteudo-coluna-principal{
  background-color: blueviolet;
  padding: 3rem;
  justify-content: space-between;
  text-align: justify;
  margin: auto;
}

.imagem-principal{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 350px;
  height: 100%;
}

.conteudo-titulo{
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.conteudo-subtitulo{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform:capitalize;
}