*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background:#252B42;
}

.cabecalho{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  padding: 25px;
  
}
.cabecalho-nome-principal{
  color: white;
}

.cabecalho-menu{
  display: flex;
  gap: 34px;
  
}
.cabecalho-menu-item{
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.cabecalho-menu-item2{
  color: white;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  flex-direction:row;
}
.cabecalho-menu-destaque{
  color: white;
  font-weight: 400;
  font-size: 14px;
  background-color: #23A6F0;
  border-radius: 5px;
  margin-top: -9px;
  padding: 10px 10px;
  align-items: center;
  flex-direction:row;
 
  
}

.cabecalho-icon{
  height: 15px;
}