@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1F1517;
  color: #ffff;
}

html{
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a{
  font-style: none;
  color:white ;
  text-decoration: none;
}

ul{
  list-style: none;
}

.marrom{
  color: #A45A49;
}

.amarelo{
  color: #E7A80E;
}

.cinza{
  color: #fff2e780;
}
.cabecalho-principal{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cabecalho-principal-logo{
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;

  padding: 1.5rem;
}

.cabecalho-principal-menu{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  
}

.cabecalho-principal-menu2{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-left: 4rem; 
  color: #fff2e780;
}

.cabecalho-principal-github{
  color: #fff2e7;
  font-weight: 600;
}