@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1F1517;
  color: #ffff;
}

html{
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}

.marrom{
  color: #A45A49;
}

.amarelo{
  color: #E7A80E;
}
.cinza{
  color: #fff2e780;
}

.cabecalho-pricipal-li:hover{
  text-decoration:underline ;
}
.cabecalho-principal{
  min-width: 300px;
  max-width: 1120px;
  margin: auto;
  padding: 2rem 1rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 

}

.cabecalho-principal-logo{
  font-family: Teko;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cabecalho-principal-menu{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #fff2e780;

}

.cabecalho-principal-menu2{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-left: 4rem; 
  
  color: #fff2e780;

}

.botao-cantainer{
  width: 100%;
  max-width: 1120px;
  padding: 0rem 2.5rem;
  margin: auto;
  transform: translate(0, '-50%');
}

button{
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  background-color: #A45A49;
}


.cabecalho-principal-github{
  color: #fff2e7;
  font-weight: 600;
}

.conteudo-final{
  padding-top: 1rem;
}
footer{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 1rem;
  background-color: #23181A;

  margin-bottom: 2px;
}
.footer-copy{
  color: #FFF2E7;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.footer-autor{
  color: rgba(255, 242, 231,0.50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
.footer-icon{
  width: 20px;
  margin-bottom: -5px;
}
@media (max-width: 750px) {
  /* Alterações de estilo para telas menores */
  span{
    font-size: 1rem;
  }
  a{
    font-size: 10px; /* Redução do tamanho da fonte para telas menores */
  }
  .cabecalho-principal-logo{
    font-size: 1em;
  }
  
  .conteudo-principal-escrito{
    font-size: 14px;
  }
  .conteudo-principal-subtitulo{
    font-size: 12px;
  }

  .conteudo-principal-imagem-container{
    max-width: 60%;
    column-count: 4;
    column-gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .conteudo-principal{
    height: 35vh;
  }

  .cabecalho-principal-menu2{
    gap: 0rem;
    padding-left: 0rem;
  }

  .conteudo-principal-escrito-destaque{
    font-size: 0.5rem;
  }
  
  button{
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 30px;
  height: 30px;
  }

  footer{
    padding: 1rem;
    gap: 1rem 0.5rem;
    margin-bottom: 1px;
  }
  .footer-copy{
    font-size: 0.5rem;
  }
  
  .footer-autor{
    font-size: 10px;
  }

  .footer-icon{
    width: 15px;
    margin-bottom: -5px;
  }
}


@media (max-width: 320px) {
  /* Alterações de estilo para telas menores */
  
  span{
    font-size: 1rem;
  }
  a{
    font-size: 10px; /* Redução do tamanho da fonte para telas menores */
  }
  .cabecalho-principal-logo{
    font-size: 0.6rem;
  }
  
  .conteudo-principal-escrito{
    font-size: 12px;
  }
  .conteudo-principal-subtitulo{
    font-size: 10px;
  }

  .conteudo-principal-imagem-container{
    max-width: 70%;
    column-count: 4;
    column-gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .conteudo-principal{
    height: 50vh;
  }

  .cabecalho-principal-menu2{
    gap: 0rem;
    padding-left: 0rem;
  }

  .conteudo-principal-escrito-destaque{
    font-size: 0.5rem;
  }
  
  .botao-cantainer{
    width: 100%;
    max-width: 950px;
    padding: 0rem 2.5rem;
    margin: auto;
    transform: translate(0, '-50%');
}
    
  button{
    padding: 0.2rem;
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
  }

  footer{
    padding: 1rem;
    gap: 1rem 0.5rem;
    margin-bottom: 1px;
  }
  .footer-copy{
    font-size: 0.5rem;
  }
  
  .footer-autor{
    font-size: 10px;
  }

  .footer-icon{
    width: 15px;
    margin-bottom: -5px;
  }
}