.conteudo-secundario{
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;

  padding: 1rem 1rem;
  margin: auto;
}

.conteudo-secundario-cabecalho{
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.conteudo-secundario-receitas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10rem;

}
.conteudo-secundario-destaque{
  color: #A45A49;
  font-family: Montserrat;
  text-transform: uppercase;
}


.conteudo-secundario-titulo{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  color: #fff2e7;
}

.conteudo-secundario-subtitulo{
  color: #C7BAB3;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.conteudo-card-container{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex: wrap;
}

@media (max-width: 750px) {
    /* Alterações de estilo para telas menores */
    .conteudo-secundario-destaque{
      font-size: 14px;
    }

    .conteudo-card-container-cardapio{ 
      /*trocar */
      padding: 0.5rem ;
      gap: 1px;
    }
    
    .receitas-card-cardapio{
      /*trocar */
      border-radius: 0.5rem;
      gap: 0rem;
      flex-basis: 10rem;
    
    }
    
    .receitas-card-cabecalho-detalhes-cardapio{
      /*trocar */
      gap: 0.5rem;
    }
    
    .receita-titulo{
      font-size: 8px;
    }
    
    .receita-descricao{
      font-size: 5px;
    }
    
    .receita-autor{
    gap: 0.5rem;
    }
    
    .receita-autor-cardapio > img{
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
    }
    
    .receita-autor-nome-cardapio{
      font-size: 8px;
    }
    footer{
      padding: 1rem;
      gap: 1rem 0.5rem;
      margin-bottom: 1px;
    }
    .footer-copy{
      font-size: 0.5rem;
    }
    
    .footer-autor{
      font-size: 10px;
    }
  
    .footer-icon{
      width: 15px;
      margin-bottom: -5px;
    }
    
    .conteudo-secundario-titulo{
    font-size: 14px;
  }
  
  .conteudo-secundario-subtitulo{
    /*trocar */
    font-size: 1rem;

  }
  
  .conteudo-card-container{
    /*trocar */
    gap: 0.5rem;
  }

  .conteudo-secundario-receitas{
    padding: 0.5rem 0.5rem;
  }
  
}