.conteudo-secundario-receitas{
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;

  padding: 1rem 1rem;
  margin: auto;
}

.conteudo-secundario-receitas-cabecalho{
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.conteudo-secundario-destaque{
  color: #A45A49;
  font-family: Montserrat;
  text-transform: uppercase;
}

.conteudo-secundario-titulo{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  color: #fff2e7;
}

.conteudo-secundario-subtitulo{
  color: #C7BAB3;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.conteudo-card-container{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex: wrap;
}

