.cabecalho-pricipal-li:hover{
  text-decoration:underline ;
}
.conteudo-main{
  display: flex;
  flex-direction: column;
}
.conteudo{
  background-color: #181012;
}
.conteudo-principal{
  background-color: #181012;
  min-width: 420px;
  max-width: 1120px;
  max-height: 60vh;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin: auto;

  overflow:clip;
}

.cabecalho-principal-hero{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.conteudo-principal-escrito-destaque{
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.conteudo-principal-escrito{
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 800;
}

hr{
  border-color: #A45A49;
}

.conteudo-principal-subtitulo{
  color: #C7BAB3;
  font-family: Epilogue;
  font-size: 15px;
  font-weight: 400;
}

.conteudo-card-container{
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.conteudo-terciario{
  max-width: 1120px;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  margin: auto;
  }

.receitas-card{
  background-color: #241A1C;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-basis: 0rem;
}

.receitas-card-cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:normal ;
  gap: 1rem 1rem;
  
}

.receitas-card-cabecalho-detalhes{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  
}
.receita-autor{
  display: flex;
  flex-direction:row ;
  align-items: center;
  gap: 0.5rem;
}

.receita-autor > img{
  border-radius: 1rem;
  width: 10rem;
  height: 7rem;
}

.receita-autor > img:hover{
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.receita-autor-nome{
  display: flex;
  justify-content: center;
}

.receita-autor-nome:hover{
  color: #fff2e780;
}

button:hover{
  width: 40px;
  height: 50px;
}

@media (max-width: 760px){
  .conteudo-principal{
    height: 35vh;
    gap: 0.5rem;
    padding: 2rem 1rem;
  }

  .cabecalho-principal-hero{
    gap: 1rem;
  }

  .conteudo-principal-escrito-destaque{
    font-size: 8px;
  }

  .conteudo-principal-escrito{
    font-size: 10px;
  }
  
  .conteudo-principal-subtitulo{
    font-size: 8px;
  }
  
  .conteudo-terciario{
    padding: 0.5rem 0rem;
  }
  
  .receitas-card{
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
  }
  
  .receitas-card-cabecalho{
    gap: 0.5rem 0.5rem;
    
  }
  .receita-autor > img{
    border-radius:0.5rem;
    width: 5rem;
    height: 3.5rem;
  }
  
  .receita-autor > img:hover{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
  }
  
  .receita-autor-nome{
    font-size: 8px;
  }
  
  .receita-autor-nome:hover{
    color: #fff2e780;
  }
  
  button:hover{
    width: 30px;
    height: 35px;
  }
}

@media (max-width: 400px){
  .conteudo-terciario{
    padding: 0.5rem 0rem;
    justify-content: flex-start;
  }
}
@media (max-width: 320px){
  .conteudo-principal{
    height: 40vh;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .cabecalho-principal-hero{
    gap: 0.5rem;
  }

  .conteudo-principal-escrito-destaque{
    font-size: 7px;
  }

  .conteudo-principal-escrito{
    font-size: 10px;
  }
  
  .conteudo-principal-subtitulo{
    font-size: 7px;
  }
  
  .conteudo-terciario{
    padding: 0.5rem 0rem;
    margin: auto;
    }
  
  .receitas-card{
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
  }
  
  .receitas-card-cabecalho{
    gap: 0.5rem 0.5rem;
    
  }
  .receita-autor > img{
    border-radius:0.5rem;
    width: 4rem;
    height: 3rem;
  }
  
  .receita-autor > img:hover{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
  }
  
  .receita-autor-nome{
    font-size: 8px;
  }
  
  .receita-autor-nome:hover{
    color: #fff2e780;
  }
  
  button:hover{
    width: 30px;
    height: 35px;
  }
}
