@media (max-width: 6100px){
  .conteudo-principal{
    height: 40vh;
  }
  
  footer{
    padding: 17rem;
  }
}

@media (max-width: 4100px){
  footer{
    padding: 6rem;
  }
}

@media (max-width: 750px) {
  /* Alterações de estilo para telas menores */
  .conteudo-secundario-destaque{
    font-size: 10px;
  }
  .conteudo-secundario-titulo{
    font-size: 20px;
 
  }
  .conteudo-secundario-subtitulo{
   font-size: 1rem;
  }
  
  .conteudo-card-container{
    padding: 0.5rem ;
    gap: 10px;
  }
  
  .conteudo-terciario{
    padding: 0rem 0.5rem;
    margin: auto;
   }
  
  .receitas-card{
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    flex-basis: 30rem;
  
  }
  
  .receitas-card-cabecalho-detalhes{
    gap: 0.5rem;
  }
  
  .receita-titulo{
    font-size: 12px;
  }
  .receita-avaliacao{
    font-size: 8px;
    padding-left: 15px;
  }
  
  .receita-descricao{
    font-size: 12px;
  }
  
  .receita-autor{
    gap: 0.5rem;
  }
  .receita-autor-nome{
    font-size: 12px;
  }
  .receita-autor > img{
    border-radius: 20rem;
    width: 1rem;
    height: 1rem;
  }
  
  .conteudo-secundario-final{
    font-size: 10px;
    gap: 2rem;
    padding: 20px 10px;
  }
  footer{
    padding: 1rem;
    gap: 1rem 0.5rem;
    margin-bottom: 1px;
  }
  .footer-copy{
    font-size: 0.5rem;
  }
  
  .footer-autor{
    font-size: 10px;
  }

  .footer-icon{
    width: 15px;
    margin-bottom: -5px;
  }
}


@media (max-width: 320px) {
  /* Alterações de estilo para telas menores */
  
  .conteudo-secundario-destaque{
    font-size: 10px;
  }
  .conteudo-secundario-titulo{
    font-size: 14px;
 
  }
  .conteudo-secundario-subtitulo{
   font-size: 12px;
  }
  
  .conteudo-card-container{
    padding: 0.5rem ;
    gap: 10px;
  }
  
  .conteudo-terciario{
    padding: 0rem 0.5rem;
    margin: auto;
   }
  
  .receitas-card{
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    flex-basis: 30rem;
  }
  
  .receitas-card-cabecalho-detalhes{
    gap: 0.5rem;
  }
  
  .receita-titulo{
    font-size: 10px;
  }
  
  .receita-avaliacao{
    font-size: 6px;
    padding-left: 15px;
  }
  
  .receita-descricao{
    font-size: 10px;
  }
  
  .receita-autor{
    gap: 0.5rem;
  }
  .receita-autor-nome{
    font-size: 10px;
  }
  .receita-autor > img{
    border-radius: 20rem;
    width: 1rem;
    height: 1rem;
  }
  
  .conteudo-secundario-final{
    font-size: 8px;
    gap: 2rem;
    padding: 20px 10px;
  }
  footer{
    padding: 1rem;
    gap: 1rem 0.5rem;
    margin-bottom: 1px;
  }
  .footer-copy{
    font-size: 0.5rem;
  }
  
  .footer-autor{
    font-size: 10px;
  }

  .footer-icon{
    width: 15px;
    margin-bottom: -5px;
  }
}